.pessoa__nome {
  color: #8d0606;
  font-family: Pacifico, cursive;
  font-size: 2rem;
  margin: 1rem 0;
  transition: all 1s ease-in-out;
}

.pessoa__nome:hover {
  color: #006400;
  cursor: pointer;
}