.logo {
  animation-name: deslizar;
  animation-duration: 5s;
  animation-iteration-count:infinite;
}

@keyframes deslizar {
  from{ margin-left: 0; }
  10%{ transform: rotate(10deg); }
  50%{ transform: rotate(0deg); }
  60%{ transform: rotate(-10deg); }
  to{ margin-left: 0; transform: rotate(0deg); }
}

@media screen and (min-width: 0) {
  .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: block;
  }
}